/* HyperlinkDctfContabilContent styles */
.hyperlink-dctf-contabil-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.hyperlink-dctf-contabil-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.hyperlink-dctf-contabil-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.hyperlink-dctf-contabil-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.hyperlink-dctf-contabil-content .execute-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* MoverArquivosExpressContent styles */
.mover-arquivos-express-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.mover-arquivos-express-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.mover-arquivos-express-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.mover-arquivos-express-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.mover-arquivos-express-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.bancos-com-cod-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.bancos-com-cod-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.bancos-com-cod-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial para o campo de caminho do arquivo */
}

.bancos-com-cod-content .code-box .label {
    -fx-text-fill: #333333; /* Cor do texto */
    -fx-font-size: 14px; /* Tamanho da fonte */
}

.bancos-com-cod-content .cod-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 80px; /* Define uma largura preferencial para o campo de código */
}

.bancos-com-cod-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.bancos-com-cod-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.bancos-com-cod-content .codigo-combobox {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 6;
    -fx-pref-width: 250px; /* Define a largura preferencial do ComboBox */
}

/* BancosComCodContent TableView styles */
.bancos-com-cod-content .table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.bancos-com-cod-content .table-view .column {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.bancos-com-cod-content .table-view .column-header {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.bancos-com-cod-content .table-view .cell {
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
}

.bancos-com-cod-content .table-view .cell:focused {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
}

/* Estilo para CheckBox */
.bancos-com-cod-content .comma-checkbox {
    -fx-text-fill: #333333; /* Cor do texto do CheckBox */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-padding: 5; /* Espaçamento interno */
    -fx-background-color: #f8f8f8; /* Cor de fundo do CheckBox */
}

.bancos-com-cod-content .comma-checkbox .checkbox {
    -fx-text-fill: #333333; /* Cor do texto do CheckBox dentro do CheckBox */
}

.bancos-com-cod-content .comma-checkbox .checkbox .box {
    -fx-background-color: #ffffff; /* Cor de fundo da caixa do CheckBox */
    -fx-border-color: #cccccc; /* Cor da borda da caixa do CheckBox */
    -fx-border-width: 1; /* Largura da borda da caixa do CheckBox */
    -fx-border-radius: 3; /* Bordas arredondadas da caixa do CheckBox */
}

.bancos-com-cod-content .comma-checkbox .checkbox:selected {
    -fx-background-color: #007bff; /* Cor de fundo quando selecionado */
    -fx-border-color: #007bff; /* Cor da borda quando selecionado */
}

.bancos-com-cod-content .comma-checkbox .checkbox:selected .box {
    -fx-background-color: #ffffff; /* Cor de fundo da caixa quando selecionado */
    -fx-border-color: #007bff; /* Cor da borda da caixa quando selecionado */
}

/* Estilo para o botão de exportação */
.bancos-com-cod-content .export-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-border-color: #007bff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* ProcessarXmlFiscalContent styles */
.processar-xml-fiscal-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.processar-xml-fiscal-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.processar-xml-fiscal-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.processar-xml-fiscal-content .dados-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 450px; /* Define uma largura preferencial */
}

.processar-xml-fiscal-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.processar-xml-fiscal-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* NomeDASFiscalContent styles */
.nome-das-fiscal-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.nome-das-fiscal-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.nome-das-fiscal-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.nome-das-fiscal-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.nome-das-fiscal-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* MainContent styles */
.main-content {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.main-content .welcome-title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.readme-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.readme-content {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.close-button {
    -fx-background-color: #dc3545;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.readme-content .close-button:hover {
    -fx-background-color: #c82333;
}

.readme-content .scroll-pane {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.search-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
}

.search-field:focused {
    -fx-border-color: #007bff;
}

.search-nav-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.search-nav-button:hover {
    -fx-background-color: #0056b3;
}

.bancos-com-cod-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.bancos-com-cod-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.bancos-com-cod-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial para o campo de caminho do arquivo */
}

.bancos-com-cod-content .file-box .label {
    -fx-text-fill: #333333; /* Cor do texto */
    -fx-font-size: 14px; /* Tamanho da fonte */
}

.bancos-com-cod-content .cod-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 80px; /* Define uma largura preferencial para o campo de código */
}

.bancos-com-cod-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.bancos-com-cod-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.bancos-com-cod-content .codigo-combobox {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 6;
    -fx-pref-width: 250px; /* Define a largura preferencial do ComboBox */
}

/* BancosComCodContent TableView styles */
.bancos-com-cod-content .table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.bancos-com-cod-content .table-view .column {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.bancos-com-cod-content .table-view .column-header {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.bancos-com-cod-content .table-view .cell {
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
}

.bancos-com-cod-content .table-view .cell:focused {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
}

.bancos-com-cod-content .comma-checkbox .checkbox {
    -fx-text-fill: #333333; /* Cor do texto do CheckBox dentro do CheckBox */
}

.bancos-com-cod-content .comma-checkbox .checkbox .box {
    -fx-background-color: #ffffff; /* Cor de fundo da caixa do CheckBox */
    -fx-border-color: #cccccc; /* Cor da borda da caixa do CheckBox */
    -fx-border-width: 1; /* Largura da borda */
}

/* Estilo para o botão de exportação */
.bancos-com-cod-content .export-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-border-color: #007bff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.bancos-com-cod-content .file-box {
    -fx-background-color: #f8f8f8;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.bancos-com-cod-content .button-box {
    -fx-padding: 20 0 0 0; /* Margem superior */
}

/* QualitplacasContabilContent styles */
.qualitplacas-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.qualitplacas-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.qualitplacas-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 300px; /* Define uma largura preferencial para o campo de caminho do arquivo */
}

.qualitplacas-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima para o botão */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.qualitplacas-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.qualitplacas-content .export-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-border-color: #007bff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.qualitplacas-content .comma-checkbox {
    -fx-text-fill: #333333; /* Cor do texto do CheckBox */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-padding: 5; /* Espaçamento interno */
    -fx-background-color: #f8f8f8; /* Cor de fundo do CheckBox */
}

.qualitplacas-content .comma-checkbox .checkbox {
    -fx-text-fill: #333333; /* Cor do texto do CheckBox dentro do CheckBox */
}

.qualitplacas-content .comma-checkbox .checkbox .box {
    -fx-background-color: #ffffff; /* Cor de fundo da caixa do CheckBox */
    -fx-border-color: #cccccc; /* Cor da borda da caixa do CheckBox */
    -fx-border-width: 1; /* Largura da borda da caixa do CheckBox */
    -fx-border-radius: 3; /* Bordas arredondadas da caixa do CheckBox */
}

.qualitplacas-content .comma-checkbox .checkbox:selected {
    -fx-background-color: #007bff; /* Cor de fundo quando selecionado */
    -fx-border-color: #007bff; /* Cor da borda quando selecionado */
}

.qualitplacas-content .comma-checkbox .checkbox:selected .box {
    -fx-background-color: #ffffff; /* Cor de fundo da caixa quando selecionado */
    -fx-border-color: #007bff; /* Cor da borda da caixa quando selecionado */
}

/* QualitplacasContabilContent TableView styles */
.qualitplacas-content .table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 10;
}

.qualitplacas-content .table-view .column {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.qualitplacas-content .table-view .column-header {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1 0;
}

.qualitplacas-content .table-view .cell {
    -fx-text-fill: #333333;
    -fx-background-color: #ffffff;
}

.qualitplacas-content .table-view .cell:focused {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333333;
}

/* ArquivosReinfExpressContent styles */
.arquivos-reinf-express-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.arquivos-reinf-express-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.arquivos-reinf-express-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.arquivos-reinf-express-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px; /* Define uma largura mínima */
    -fx-text-fill: #007bff; /* Cor do texto */
    -fx-font-weight: bold;
}

.arquivos-reinf-express-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* styles.css */

/* Estilo para o conteúdo do cronograma */
.meu-cronograma-content {
    -fx-background-color: #f9f9f9; /* Cor de fundo clara */
    -fx-border-color: #ddd; /* Borda suave */
    -fx-border-width: 1px; /* Largura da borda */
    -fx-border-radius: 8px; /* Bordas arredondadas */
    -fx-padding: 20px; /* Espaçamento interno */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0); /* Sombra suave */
}

/* Estilo para o GridPane do calendário */
.calendar-grid {
    -fx-background-color: transparent; /* Remove o fundo do GridPane */
    -fx-padding: 10px; /* Espaçamento interno */
}

/* Estilo para os rótulos dos dias da semana */
.day-label {
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-text-fill: #555; /* Cor do texto */
    -fx-padding: 10px; /* Espaçamento interno */
    -fx-background-color: #e0e0e0; /* Cor de fundo dos rótulos */
    -fx-background-radius: 5px; /* Bordas arredondadas */
    -fx-border-color: transparent; /* Remove bordas */
}

/* Estilo para os botões dos dias */
.day-button {
    -fx-background-color: #ffffff; /* Cor de fundo branca */
    -fx-border-color: #cccccc; /* Cor da borda */
    -fx-border-radius: 8px; /* Bordas arredondadas */
    -fx-text-fill: #333; /* Cor do texto */
    -fx-font-size: 16px; /* Tamanho da fonte */
    -fx-min-width: 50px; /* Largura mínima */
    -fx-min-height: 50px; /* Altura mínima */
    -fx-pref-width: 50px; /* Largura preferida */
    -fx-pref-height: 50px; /* Altura preferida */
    -fx-padding: 0; /* Remove o padding interno */
    -fx-alignment: center; /* Alinha o texto ao centro */
}

/* Estilo para os botões ao passar o mouse */
.day-button:hover {
    -fx-background-color: #e7e7e7; /* Cor de fundo ao passar o mouse */
    -fx-border-color: #b0b0b0; /* Cor da borda ao passar o mouse */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Sombra ao passar o mouse */
}

.conferencia-fiscal-contabil-content {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.conferencia-fiscal-contabil-content .title {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.conferencia-fiscal-contabil-content .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-pref-width: 400px;
}

.conferencia-fiscal-contabil-content .select-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-padding: 10;
    -fx-min-width: 40px;
    -fx-text-fill: #007bff;
    -fx-font-weight: bold;
}

.conferencia-fiscal-contabil-content .process-button {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

/* Estilos para CadastrarNaturezaContabilContent */

/* Estilo para o VBox principal */
.cadastrar-natureza-contabil-content {
    -fx-background-color: #f5f5f5;
    -fx-padding: 15;
    -fx-spacing: 10;
}

/* Estilo para os botões */
.cadastrar-natureza-contabil-content .botao {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-border-color: #007bff;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Estilo para a tabela */
.cadastrar-natureza-contabil-content .tabela {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

/* Estilo para as colunas da tabela */
.cadastrar-natureza-contabil-content .column {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Estilo para as labels */
.cadastrar-natureza-contabil-content .label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

/* Estilo para os campos de texto */
.cadastrar-natureza-contabil-content .txtvalor-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 3;
    -fx-padding: 12;
    -fx-pref-width: 250px;
    -fx-font-weight: bold;
}

/* Estilo para o VBox na janela de cadastro */
.cadastrar-natureza-contabil-content .vbox-cadastro {
    -fx-background-color: #ffffff;
    -fx-padding: 15;
}

.cadastrar-natureza-contabil-content .table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 10;
}