/* Sidebar style */
.sidebar {
  -fx-background-color: #ffffff;
  -fx-border-width: 1px;
  -fx-border-color: #e0e0e0;
  -fx-padding: 10px 0px 0px 0px;
  -fx-spacing: 5;
  -fx-min-width: 250px;
}

/* TitledPane (menu) style */
.titled-pane {
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-content-display: text-only;
}

/* Remove the arrow from TitledPane */
.titled-pane > .arrow {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-pref-width: 0;
  -fx-pref-height: 0;
  -fx-visibility: hidden;
}

/* Title style for TitledPane */
.titled-pane > .title {
  -fx-background-color: transparent;
  -fx-text-fill: #333333;
  -fx-font-size: 16px;
  -fx-padding: 10px 10px 10px 10px;
  -fx-border-width: 0 0 0 0;
  -fx-border-color: #e0e0e0 transparent #e0e0e0 transparent;
}

.titled-pane > .title:hover {
  -fx-background-color: #f0f0f0;
}

/* Content style for TitledPane */
.titled-pane > .content {
  -fx-background-color: #ffffff;
  -fx-border-color: transparent;
  -fx-padding: 0;
}

/* Dropdown style */
.dropdown {
  -fx-background-color: transparent;
  -fx-spacing: 0;
  -fx-padding: 0;
}

/* Dropdown content style */
.dropdown-content {
  -fx-background-color: #f9f9f9;
  -fx-padding: 0;
  -fx-border-width: 0;
}

/* Menu item style (Itens principais) */
.menu-item {
  -fx-background-color: #ffffff;
  -fx-text-fill: #333333;
  -fx-font-size: 16px;
  -fx-padding: 8px 12px;
  -fx-border-width: 1px 0 0 0;
  -fx-border-color: #e0e0e0 transparent #e0e0e0 transparent;
}

/* Submenu item style (Subitens) */
.dropdown-content .menu-item {
  -fx-background-color: #f9f9f9;
  -fx-text-fill: #666666;
  -fx-font-size: 14px;
  -fx-padding: 8px;
  -fx-border-width: 0 0 0 0;
  -fx-border-color: transparent transparent #e0e0e0 transparent;
}

.menu-item:hover,
.dropdown-content .menu-item:hover {
  -fx-background-color: #e0e0e0;
}

.footer {
  -fx-background-color: #fff;
  -fx-border-width: 1px 0 0 0;
  -fx-border-color: #e0e0e0 transparent transparent transparent;
}

.footerLabel {
  -fx-font-size: 12px;
  -fx-alignment: center;
}

/* HyperlinkDctfContabilContent styles */
.hyperlink-dctf-contabil-content {
  -fx-background-color: #ffffff;
  -fx-border-color: #e0e0e0;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.hyperlink-dctf-contabil-content .title {
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.hyperlink-dctf-contabil-content .text-field {
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-padding: 10;
  -fx-pref-width: 400px; /* Define uma largura preferencial */
}

.hyperlink-dctf-contabil-content .select-button {
  -fx-background-color: #ffffff;
  -fx-border-color: #cccccc;
  -fx-padding: 10;
  -fx-min-width: 40px; /* Define uma largura mínima */
  -fx-text-fill: #007bff; /* Cor do texto */
}

.hyperlink-dctf-contabil-content .execute-button {
  -fx-background-color: #28a745;
  -fx-text-fill: #ffffff;
  -fx-border-color: #28a745;
  -fx-padding: 10 20;
  -fx-border-radius: 5;
}
